!!! 5
%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}
  %body
    %h1 Play with words
    %h3 Perform Ruby String Methods on Words
    .content
      %form{:action => "/", :method => "post", :name => "input"}
        Word:
        %input{:name => "word", :type => "text"}
        %input{:type => "submit", :value => "Submit"}
    .jumbotron
      %h1
        =@word
