%h1 Shifty
.content
  %form{:action => "/shifty", :method => "post", :name => "input"}
    %input{:name => "action", :type => "submit", :value => "Left"}
    %input{:name => "word", :value => @word, :type => "text", :placeholder => "Enter your word here"}
    %input{:name => "action", :type => "submit", :value => "Right"}
